.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    grid-template-rows: repeat(7, 150px);
}

.item{
    background: blue;
    color: #fff;
    box-sizing: border-box;
    padding: 32px;
    font-family: Arial, Helvetica, sans-serif;
}

.item4{
    grid-column: 5/ span 3;
    grid-row: 1/ span 3;
}